.cart-container {
  width: 1440px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
} 
.cart-wrapper > h5 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  color: black;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 40px;
}
.cart-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: flex-start;
}
.cart-wrapper > h5 {
  font-weight: 900;
}
.arrow-left {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 45%;
  left: 3%;
  cursor: pointer;
  border-radius: 40%;
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.arrow-right {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 45%;
  right: 3%;
  cursor: pointer;
  border-radius: 60%;
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.arrow-left:hover,
.arrow-right:hover {
  background-color: rgb(184, 184, 184);
  transition: 0.2s;
}
.cart-header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.cart-items-wrapper {
  width: 100%;
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart-item {
  height: 223px;
  margin: 5px 0px;
  display: flex;
  width: 100%;
  align-items: stretch;
  padding: 10px 0px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px ;
}
.cart-item-info {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cart-item-info-text-wrap {
  flex-grow: 1;
  font-size: 27px;
  font-weight: 600;
  text-align: left;
}
.cart-item-info > h2 {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 900;
}
.cart-item-info-soft-text {
  font-weight: 500;
}
.cart-item-counter {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  margin-right: 30px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.cart-item-counter > button {
  width: 45px;
  height: 45px;
  font-size: 40px;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart-item-image-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 141px;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
  
  
}
.slide-active {
  opacity: 1;
  transition-duration: 5s;
  width: 100%;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cart-item-image img {
  max-width: 141px;
}
.cart-item-info-decisions-box-wrapper {
  display: flex;
}

.cart-delete-item {
  position: absolute;
  cursor: pointer;
  text-align: center;
  top: 6px;
  right: 0;
  width: 24px;
  height: 24px;
  color: red;
  border: 1px solid rgb(255, 150, 150);
  border-radius: 40%;
  background-color: transparent;
 }
 .cart-delete-item:hover {
  background-color: red; 
  color: white;
  transition: 0.2s;
 }
 .cartoverlay-item-info-decisions-box-text {
   font-size: 14px;
 }
 .cartoverlay-item-info-decisions-box-subwrapper {
   margin-right: 25px;
 }
