.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 990;
}

.modal-textBox {
    height: 70px;
  background-color: rgb(241, 192, 28);
  color: white;
  font-weight: 900;
  letter-spacing: 10px;
display: flex;
justify-content: center;
align-items: center;
}