.pdp-container {
 position: absolute;
 box-sizing: border-box;
 display: flex;
 z-index: 1;
 top: 20px;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 background-color: rgb(255, 255, 255);
 backdrop-filter: blur(10px);
}

.pdp-section-gallery-thumbs-item {
 cursor: pointer;
}
.pdp-section-gallery {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 10%;
 height: 80%;
}

.pdp-section-dashboard {
 display: flex;
 flex-direction: column;
 width: 292px;
 height: 80%;
 background-color: rgb(255, 255, 255);
}
.pdp-section-dashboard > p {
 font-size: 30px;
 font-style: normal;
 font-weight: 600;
 line-height: 27px;
 letter-spacing: 0em;
 text-align: left;
}
.pdp-section-gallery-bigImage {
 box-sizing: border-box;
 width: 50%;
 height: 80%;
 margin: 0px 20px;
}
.pdp-section-gallery-bigImage-image {
 object-fit: contain;
 width: 100%;
 height: 100%;
}
.item-citeria-wrapper {
 font-family: Roboto Condensed;
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: 18px;
 letter-spacing: 0em;
}
.item-citeria-items {
 display: flex;
}
.item-criteria-items-boxwrapper {
 position: relative;
 display: inline-block;
 padding: 5px 10px;
 cursor: pointer;
}
.item-criteria-items-boxwrapper .radio-text {
 position: relative;
}

.item-criteria-items-boxwrapper .radio-text:before,
.item-criteria-items-boxwrapper .radio-text:after {
 content: attr(data-content);
}
.item-criteria-items-boxwrapper .radio-text:before {
 border: 1px solid #1d1f22;
 width: 63px;
 height: 45px;

 display: inline-block;
 vertical-align: top;
 display: flex;
 justify-content: center;
 align-items: center;
}
.item-criteria-items-boxwrapper .radio-text:after {
 background: #1d1f22;
 color: white;
 width: 65px;
 height: 48px;
 position: absolute;
 top: 0px;
 left: 0px;
 opacity: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}
.item-criteria-items-boxwrapper input:checked + div:after {
 opacity: 1;
}

.item-criteria-items-box {
 display: none;
}

.button-add-to-card {
 background-color: #5ece7b;
 height: 52px;
 font-size: 16px;
 font-style: normal;
 font-weight: 600;
 line-height: 19px;
 letter-spacing: 0em;
 border: none;
 color: white;
 margin: 16px 0px;
 cursor: pointer;
}
.button-add-to-card-disabled {
 background-color: #5ece7b;
 height: 52px;
 font-size: 16px;
 font-style: normal;
 font-weight: 600;
 line-height: 19px;
 letter-spacing: 0em;
 border: none;
 color: white;
 margin: 16px 0px;
 cursor: pointer;
}
.button-add-to-card:hover {
 background-color: #18a33d;
 transition: 0.2s;
}
.item-description {
 overflow: auto;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 26px;
 letter-spacing: 0em;
}
